<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PicScramble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1674D081D11078300C5CA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1674D211D11078500C5CA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1674D2C1D11078500C5CA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
